<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc99rNDbkxL-ZNjGgr5nbOQfjXli8JIy0</string>
	<key>GCM_SENDER_ID</key>
	<string>780900514083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceSystem</string>
	<key>PROJECT_ID</key>
	<string>attendance-system-91e45</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-system-91e45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780900514083:ios:4cf26878555c3a9a873496</string>
</dict>
</plist>